<a href="https://colab.research.google.com/github/fariaslrc/science/blob/main/Limpeza_e_prepara%C3%A7%C3%A3o_de_dados1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Módulo 5 Tarefa 1
## Base de nascidos vivos do DataSUS
O DataSUS disponibiliza diversos arquivos de dados com relação a seus segurados, conforme a [lei da transparência de informações públicas](https://www.sisgov.com/transparencia-acesso-informacao/#:~:text=A%20Lei%20da%20Transpar%C3%AAncia%20(LC,em%20um%20site%20na%20internet.).

Essas informações podem ser obtidas pela internet [aqui](http://www2.datasus.gov.br/DATASUS/index.php?area=0901&item=1). Como o processo de obtenção desses arquivos foge um pouco do nosso escopo, deixamos o arquivo ```SINASC_RO_2019.csv``` já como vai ser encontrado no DataSUS. O dicionário de dados está no arquivo ```estrutura_sinasc_para_CD.pdf``` (o nome do arquivo tal qual no portal do DataSUS).

### Nosso objetivo
Queremos deixar uma base organizada para podermos estudar a relação entre partos com risco para o bebê e algumas condições como tempo de parto, consultas de pré-natal etc.

#### Preparação da base
1. Carregue a base 'SINASC_RO_2019.csv'. Conte o número de registros e o número de registros não duplicados da base. Dica: você aprendeu um método que remove duplicados, encadeie este método com um outro método que conta o número de linhas. **Há linhas duplicadas?**  

2. Conte o número de valores *missing* por variável.  

3. Ok, no item anterior você deve ter achado pouco prático ler a informação de tantas variáveis, muitas delas nem devem ser interesantes. Então crie uma seleção dessa base somente com as colunas que interessam. São elas:
```
['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO',
    'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5']
```
Refaça a contagem de valores *missings*.  

4. Apgar é uma *nota* que o pediatra dá ao bebê quando nasce de acordo com algumas características associadas principalmente à respiração. Apgar 1 e Apgar 5 são as notas 1 e 5 minutos do nascimento. Apgar5 será a nossa variável de interesse principal. Então remova todos os registros com Apgar5 não preenchido. Para esta seleção, conte novamente o número de linhas e o número de *missings*.  

5. observe que as variáveis ```['ESTCIVMAE', 'CONSULTAS']``` possuem o código ```9```, que significa *ignorado*. Vamos assumir que o não preenchido é o mesmo que o código ```9```.<br>
6. Substitua os valores faltantes da quantitativa (```QTDFILVIVO```) por zero.  
7. Das restantes, decida que valore te parece mais adequado (um 'não preenchido' ou um valor 'mais provável' como no item anterior) e preencha. Justifique. Lembre-se de que tratamento de dados é trabalho do cientista, e que estamos tomando decisões a todo o momento - não há necessariamente certo e errado aqui.  
8. O Apgar possui uma classificação indicando se o bebê passou por asfixia:
- Entre 8 e 10 está em uma faixa 'normal'.
- Entre 6 e 7, significa que o recém-nascido passou por 'asfixia leve'.
- Entre 4 e 5 significa 'asfixia moderada'.
- Entre 0 e 3 significa 'asfixia severa'.  

Crie uma categorização dessa variável com essa codificação e calcule as frequências dessa categorização.  
<br>
9. Renomeie as variáveis para que fiquem no *snake case*, ou seja, em letras minúsculas, com um *underscore* entre as palávras. Dica: repare que se você não quiser criar um *dataframe* novo, você vai precisar usar a opção ```inplace = True```.

In [80]:
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [81]:
import pandas as pd
import requests

# 1) Carregue a base 'SINASC_RO_2019.csv'. Conte o número de registros e o número
# de registros não duplicados da base. Há linhas duplicadas?

# Carregar a base de dados
# sinasc = pd.read_csv('SINASC_RO_2019.csv')
sinasc = pd.read_csv('/content/drive/MyDrive/Profissão Cientista de Dados/Cientista de Dados/Módulo 5 - Limpeza e preparação de dados/Tarefa1/SINASC_RO_2019.csv')

# Contar o número de registros
total_registros = sinasc.shape[0]

# Contar o número de registros não duplicados
registros_nao_duplicados = sinasc.drop_duplicates().shape[0]

# Verificar se há linhas duplicadas
ha_duplicatas = total_registros != registros_nao_duplicados

# Exibir os resultados
print("Número de registros:", total_registros)
print("Número de registros não duplicados:", registros_nao_duplicados)
print("Há linhas duplicadas?", ha_duplicatas)

Número de registros: 27028
Número de registros não duplicados: 27028
Há linhas duplicadas? False

In [82]:
# 2) Conte o número de valores missing por variável.
# Contar o número de valores missing por variável
valores_ausentes_por_variavel = sinasc.isnull().sum()

# Exibir os resultados
print(valores_ausentes_por_variavel)

ORIGEM          0
CODESTAB      115
CODMUNNASC      0
LOCNASC         0
IDADEMAE        0
             ...
munResUf        0
munResLat       1
munResLon       1
munResAlt       1
munResArea      1
Length: 69, dtype: int64

In [83]:
# 3) crie uma seleção dessa base somente com as colunas que interessam
# e refaça a contagem de valores missing

# Criar uma seleção com as colunas desejadas
target_df = sinasc.loc[:, ['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5']]

# Exibir a seleção
#print(target_df)

# Contar o número de valores missing por variável
valores_ausentes_por_variavel = target_df.isnull().sum()

# Exibir os resultados
print(valores_ausentes_por_variavel)

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      317
ESCMAE         312
QTDFILVIVO    1573
GESTACAO      1232
GRAVIDEZ        79
CONSULTAS        0
APGAR5         103
dtype: int64

In [84]:
# 4) remova todos os registros com Apgar5 não preenchido.
# Para esta seleção, conte novamente o número de linhas e o número de missings.

# Remover registros com APGAR5 não preenchido
target_df = target_df.dropna(subset=['APGAR5'])

# Contar o número de linhas
total_linhas = len(target_df)
# Contar o número de valores ausentes por variável
valores_ausentes_por_variavel = target_df.isnull().sum()

# Exibir os resultados
print("Número de linhas após a remoção de registros com APGAR5 não preenchido:", total_linhas)
print("Número de valores ausentes após a remoção:")
print(valores_ausentes_por_variavel)

Número de linhas após a remoção de registros com APGAR5 não preenchido: 26925
Número de valores ausentes após a remoção:
LOCNASC          0
IDADEMAE         0
ESTCIVMAE      315
ESCMAE         310
QTDFILVIVO    1566
GESTACAO      1216
GRAVIDEZ        76
CONSULTAS        0
APGAR5           0
dtype: int64

In [85]:
# 5) observe que as variáveis ['ESTCIVMAE', 'CONSULTAS'] possuem o código 9, que significa ignorado.
# Vamos assumir que o não preenchido é o mesmo que o código 9.

# Substituir os valores faltantes (código 9) por NaN
target_df['ESTCIVMAE'].replace(9, float('nan'), inplace=True)
target_df['CONSULTAS'].replace(9, float('nan'), inplace=True)

# Contar o número de valores ausentes por variável
valores_ausentes_por_variavel = target_df.isnull().sum()

# Exibir os resultados
print("Número de valores ausentes por variável:")
print(valores_ausentes_por_variavel)

Número de valores ausentes por variável:
LOCNASC          0
IDADEMAE         0
ESTCIVMAE      459
ESCMAE         310
QTDFILVIVO    1566
GESTACAO      1216
GRAVIDEZ        76
CONSULTAS       50
APGAR5           0
dtype: int64

In [86]:
# 6) Substitua os valores faltantes da quantitativa (QTDFILVIVO) por zero.
target_df['QTDFILVIVO'].fillna(0, inplace=True)

# Contar o número de valores ausentes por variável
valores_ausentes_por_variavel = target_df.isnull().sum()

# Exibir os resultados
print("Número de valores ausentes por variável:")
print(valores_ausentes_por_variavel)

Número de valores ausentes por variável:
LOCNASC          0
IDADEMAE         0
ESTCIVMAE      459
ESCMAE         310
QTDFILVIVO       0
GESTACAO      1216
GRAVIDEZ        76
CONSULTAS       50
APGAR5           0
dtype: int64

In [87]:
# 7) decida que valore te parece mais adequado e preencha

# identificando dados categóricos e numéricos
target_df.dtypes

LOCNASC         int64
IDADEMAE        int64
ESTCIVMAE     float64
ESCMAE         object
QTDFILVIVO    float64
GESTACAO       object
GRAVIDEZ       object
CONSULTAS     float64
APGAR5        float64
dtype: object

In [88]:
# Dados categóricos:
target_df.select_dtypes('object').describe().transpose()

          count unique              top   freq
ESCMAE    26615      5      8 a 11 anos  15581
GESTACAO  25709      6  37 a 41 semanas  22523
GRAVIDEZ  26849      3            Única  26356

In [89]:
# Faz sentido substituir os valores faltantes pela moda
# ffill ou bfill não são aplicáveis por serem dados independentes um do outro
moda = target_df['ESCMAE'].value_counts().idxmax()
target_df['ESCMAE'].fillna(moda, inplace=True)
moda = target_df['GESTACAO'].value_counts().idxmax()
target_df['GESTACAO'].fillna(moda, inplace=True)
moda = target_df['GRAVIDEZ'].value_counts().idxmax()
target_df['GRAVIDEZ'].fillna(moda, inplace=True)

# Contar o número de valores ausentes por variável
valores_ausentes_por_variavel = target_df.isnull().sum()

# Exibir os resultados
print("Número de valores ausentes por variável:")
print(valores_ausentes_por_variavel)

Número de valores ausentes por variável:
LOCNASC         0
IDADEMAE        0
ESTCIVMAE     459
ESCMAE          0
QTDFILVIVO      0
GESTACAO        0
GRAVIDEZ        0
CONSULTAS      50
APGAR5          0
dtype: int64

In [90]:
# Dados numéricos:
target_df.drop(['LOCNASC','IDADEMAE','QTDFILVIVO','APGAR5'], axis=1).select_dtypes('number').describe().transpose()

             count      mean       std  min  25%  50%  75%  max
ESTCIVMAE  26466.0  2.509597  1.605301  1.0  1.0  2.0  5.0  5.0
CONSULTAS  26875.0  3.568707  0.750626  1.0  3.0  4.0  4.0  4.0

In [91]:
# Faz sentido substituir os valores faltantes pela média
media = target_df['ESTCIVMAE'].mean()
target_df['ESTCIVMAE'].fillna(media, inplace=True)
media = target_df['CONSULTAS'].mean()
target_df['CONSULTAS'].fillna(media, inplace=True)

# Contar o número de valores ausentes por variável
valores_ausentes_por_variavel = target_df.isnull().sum()

# Exibir os resultados
print("Número de valores ausentes por variável:")
print(valores_ausentes_por_variavel)

Número de valores ausentes por variável:
LOCNASC       0
IDADEMAE      0
ESTCIVMAE     0
ESCMAE        0
QTDFILVIVO    0
GESTACAO      0
GRAVIDEZ      0
CONSULTAS     0
APGAR5        0
dtype: int64

In [92]:
# 8) Crie uma categorização da variável APGAR e calcule as frequências dessa categorização

# Criar a categorização com base nas faixas de classificação de asfixia
target_df.loc[target_df['APGAR5'] <= 3, 'APGAR_CATEGORIZADO'] = 'asfixia severa'
target_df.loc[target_df['APGAR5'] > 3, 'APGAR_CATEGORIZADO'] = 'asfixia moderada'
target_df.loc[target_df['APGAR5'] > 5, 'APGAR_CATEGORIZADO'] = 'asfixia leve'
target_df.loc[target_df['APGAR5'] > 7, 'APGAR_CATEGORIZADO'] = 'normal'

# Calcular as frequências da categorização
frequencias = target_df['APGAR_CATEGORIZADO'].value_counts()

print(frequencias)

normal              26463
asfixia leve          320
asfixia severa         74
asfixia moderada       68
Name: APGAR_CATEGORIZADO, dtype: int64

In [98]:
# 9) Renomeie as variáveis para que fiquem no snake case

# Renomear as variáveis para snake case
target_df.rename(columns={'LOCNASC': 'loc_nasc', 'IDADEMAE': 'idade_mae', 'ESTCIVMAE': 'est_civ_mae',
                     'ESCMAE': 'esc_mae', 'QTDFILVIVO': 'qtd_fil_vivo', 'GESTACAO': 'gestacao',
                     'GRAVIDEZ': 'gravidez', 'CONSULTAS': 'consultas', 'APGAR5': 'apgar5', 'APGAR_CATEGORIZADO': 'apgar_categorizado'},
            inplace=True)

target_df.columns

Index(['loc_nasc', 'idade_mae', 'est_civ_mae', 'esc_mae', 'qtd_fil_vivo',
       'gestacao', 'gravidez', 'consultas', 'apgar5', 'apgar_categorizado'],
      dtype='object')